/*
    ================================
     phone media => max width 575px 
     ===============================

*/

/* navbare section */

@media (max-width: 575px){
    .navbare .continer-nav .nav-item-list{
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .list-menu-1{
        display: grid;
        grid-template-rows: repeat(2,1fr);
        width: 236px;
        height: 329px;
    }
}
@media screen and (min-width: 500px) and (max-width: 575px){
    .list-menu-4{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2,1fr);
        height: 380px;
        width: 164px; 
    }
}

/* section-one */

@media (max-width: 575px){
    .section-one-pic{
        margin-top: 151px;
    }
}

/*  section-3 */


@media screen and (min-width: 500px) and (max-width: 575px){
    .section-three{
        height: 116vh;
     }  
    .section-3-content .content-items{
        margin: 10px 0;
    }
    .section-3-icon{
        top: 213px;
    }
    .section-3-content{
        grid-template-columns: repeat(2,1fr);
    }

}

@media screen and (min-width: 0px) and (max-width: 499px){
    .section-three{
        height: 233vh;
     }
     .section-3-content .content-items{
        margin: 10px 0;
    }
    .section-3-icon{
        top: 213px;
    }
    .section-3-content{
        grid-template-columns: repeat(1,1fr);
    }
    .section-one-points-3 {
        bottom: -198px;
    }


}
   
/* section-4  */


@media screen and (min-width: 0px) and (max-width: 575px){
    .section-4-content.div-1{
        max-width: unset;
        margin-right: unset;
        margin: 20px 0;
    }
    .continer-4 .section-4-content{
        height: 116%;
    }
    .div-2, .div-3{
        margin-right: unset;
        margin: 0 5px;
    }
    .section-4-content div.div-lines{
        bottom: 0;
    }
    .section-4{
        margin-top: 264px;
    } 
    
}

/* section-5 */

@media screen and (min-width: 0px) and (max-width: 575px){
    .section-5{
        margin-top: 344px;
    }
    .continer-section-5{
        grid-template-columns: repeat(2 , 1fr);
    }
    
}

/* sectio-6 */

@media screen and (min-width: 0px) and (max-width: 575px){
    .section-6-bottom-content{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        grid-gap: 20px;
    }
    .section-6-bottom-content{
        height: 68%;
    }
    .section-6-bottom-content .section-6-bottom-items img.section-6-bottom-imgs,
    .section-6-bottom-content .section-6-bottom-items img.section-6-bottom-imgs-gost{
        height: 71%;
    }
    .section-6-gost-icons{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      grid-row-gap: 10px;
    }
    .section-6-gost-icons li{
        opacity: 75%;
    }
}

/* section-7 */


@media screen and (min-width: 0px) and (max-width: 575px){
    .section-7{
        margin-top: 498px;
    }
    .left-content i {
        top: 18%;
        width: 40px;
        height: 40px;
         line-height: 40px;
    }
    .section-7-sub-continer{
        margin-top: 46px;
        height: 21vh;
        display: grid;
        grid-template-columns: repeat(3,1fr)
    }
    .section-7-sub-continer div {
        width: unset;
    }
    .right-lines span{
        width: 32px;
    }
}

/* section-footer */


@media screen and (min-width: 0px) and (max-width: 575px){
    .footer-continer{
        height: 97vh;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-row-gap: 31px;
    }
    .fo0ter-l-1{
        overflow: unset;
    }
    .contact-footer.right {
        left: 0;
        top: 104%;
    }
    .fo0ter-l-1 p{
        overflow-y: hidden;
    }
    .footer-list li:nth-child(1){
        color: var(--color-1);
    }
    .fo0ter-l-4 form input {
        width: 180px;
    }
    .fotter-icons{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-row-gap: 10px;
    }
}

